$primary: #4AD49F;

$dropdown-bg: $primary;
$dropdown-border-radius: none;
$dropdown-link-hover-bg: $dropdown-bg;
$navbar-padding-x: 0;
$dropdown-link-hover-color: #000;
$dropdown-link-color: #fff;
$dropdown-border-width: 0;

$btn-border-radius: none;
$btn-focus-box-shadow: none;
$btn-border-radius-lg: none;

$input-border-radius: none;
$input-focus-box-shadow: none;
$input-border-color: #c2c3c4;
$input-focus-border-color: $input-border-color;


